@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --guestNav: 80px;
  --adminNav: 229px;
  --adminNavSmall: 80px;
  --searchNav: 40px;
  --paddingAdmin: 16px;
  --mainColor: #7e4556;
  --mainColorAlpha: #decad0;
  --textColor: #000000;
  --backgroundColor: #fff4f7;
  --textWhite: #fff4f7;
  --errorColor: #be0202;
  --placeHolderColor: #666263;
  --listOptionHoverColor: #decad0;
  --borderColor: rgba(0, 0, 0, 0.4);
  --backgroundOpacity: rgba(255, 244, 247, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

input::placeholder {
  color: var(--placeHolderColor); /* Change to the desired color */
  opacity: 1; /* Adjust opacity if needed */
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: 'Poppins', Times, serif;
  overflow-x: hidden;
  background-attachment: fixed;
}

/* .card:hover .card-inner {
  transform: rotateY(-180deg);
}

.card-back {
  transform: rotateY(-180deg);
} */

/* input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
select,
textarea {
  @apply border-2 border-gray-300 focus:ring-2 focus:ring-gray-500 rounded-[16px] p-[8px] mx-[8px] my-[8px];
}

input[type='submit'],
button {
  @apply bg-slate-400 rounded-full my-[8px] text-white py-[8px] px-[24px] inline-block;
}

nav button {
  @apply !bg-transparent !rounded-none !my-0 !mx-0 !text-black !py-0 !px-0;
}

p.fieldError {
  @apply text-red-500;
} */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .-rotate-y-180 {
    transform: rotateY(-180deg);
  }
}

::selection {
  background-color: var(
    --mainColorAlpha
  ); /* Background color of the selected text */
  color: var(--textColor); /* Text color of the selected text */
}

