@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h1-80 {
    @apply font-semibold font-roboto text-[80px];
  }

  .h2-48 {
    @apply font-semibold font-roboto text-[48px];
  }

  .h3-40 {
    @apply font-semibold font-roboto text-[40px];
  }

  .h4-32 {
    @apply font-semibold font-roboto text-[32px];
  }

  .text-28 {
    @apply font-medium font-poppins text-[28px];
  }

  .text-26 {
    @apply font-semibold font-poppins text-[26px];
  }

  .text-24 {
    @apply font-regular font-poppins text-[24px];
  }

  .text-22 {
    @apply font-medium font-poppins text-[22px];
  }

  .text-21 {
    @apply font-medium font-poppins text-[21px];
  }

  .caption-20 {
    @apply font-medium font-poppins text-[20px];
  }

  .caption-18 {
    @apply font-medium font-poppins text-[18px];
  }

  .caption-16 {
    @apply font-medium font-poppins text-[16px];
  }

  .caption-14 {
    @apply font-regular font-poppins text-[14px];
  }

  .caption-12 {
    @apply font-regular font-poppins text-[12px];
  }

  .caption-8 {
    @apply font-medium font-poppins text-[8px];
  }

  .button-24 {
    @apply font-semibold font-poppins text-[24px];
  }

  .button-20 {
    @apply font-bold font-poppins text-[20px];
  }

  .button-20 {
    @apply font-bold font-poppins text-[16px];
  }

  .button-14 {
    @apply font-semibold font-roboto text-[14px];
  }

  .border-1 {
    @apply border-solid border-[1px];
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  .-rotate-y-180 {
    transform: rotateY(-180deg);
  }
}

:root {
  --guestNav: 80px;
  --searchNav: 76px;

  --adminNav: 229px;
  --adminNavSmall: 80px;

  --paddingAdminTop: 40px;
  --paddingAdminLeft: 40px;

  /******************************************************/

  --primary100: #fff7fa;
  --primary200: #dbbdc6;
  --primary300: #c99caa;
  --primary400: #745865;
  --primary500: #7e4556;
  --primary600: #84485a;
  --primary700: #633644;
  --primary800: #452033;
  --primary900: #211217;

  --neutral100: #e6e6e6;
  --neutral200: #cccccc;
  --neutral300: #b3b3b3;
  --neutral400: #999999;
  --neutral500: #ffffff;
  --neutral600: #666666;
  --neutral700: #4d4d4d;
  --neutral800: #333333;
  --neutral900: #1a1a1a;

  --errorColor: #be0202;

  --openStroke: #be0202;
  --openColor: #ffd6dd;

  --completedColor: #c6edd0;
  --completedStroke: #008132;

  --inProgressStroke: #c0760d;
  --inProgressColor: #ffe9c7;

  --mainColor: #7e4556;
  --mainColorAlpha: #decad0;
  --textColor: #000000;
  --backgroundColor: #fff4f7;
  --textWhite: #fff4f7;
  --placeHolderColor: #666263;
  --listOptionHoverColor: #decad0;
  --borderColor: rgba(0, 0, 0, 0.4);
  --backgroundOpacity: rgba(255, 244, 247, 0.2);
  --urgentStroke: #452033;
}

input::placeholder {
  color: var(--placeHolderColor); /* Change to the desired color */
  opacity: 1; /* Adjust opacity if needed */
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: 'Poppins', Times, serif;
  overflow-x: hidden;
  background-attachment: fixed;
}

svg {
  display: flex;
  flex-shrink: 0;
}

.owner-table th,
.owner-table td {
  border: 1px solid #231318;
}

.owner-table th,
.owner-table td {
  padding: 40px 28px;
}

table td,
table th {
  text-align: center;
}

.resultsDiv {
  width: 100%;
  overflow-x: auto;
  border: 1px solid #7e4556;
  border-radius: 24px;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.2); /* Adjust the color and opacity as needed */
}

.results {
  width: 100%;
}

.results th {
  padding: 32px 16px;
  @apply font-roboto font-semibold text-[14px] text-[#452033];
}

.results tr:first-of-type {
  @apply border-y-[1px] border-solid border-y-[#7E4556];
}

.results tr:not(:last-of-type) {
  border-bottom: 1px solid #999999;
}

.results td {
  padding: 20px 16px;
}

.pagePadding {
  @apply pl-[calc(var(--adminNavSmall)+var(--paddingAdminLeft))]
          md:pl-[calc(var(--adminNav)+var(--paddingAdminLeft))]
          pt-[calc(var(--searchNav)+var(--paddingAdminTop))]
          pb-[var(--paddingAdminTop)]
          pr-[var(--paddingAdminLeft)]
          bg-[var(--textWhite)];
}

input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Custom checkbox container */
.custom-checkbox {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;
  border: 1px solid #7e4556;
  border-radius: 4px;
  background-color: #f0f0f0;
  transition: background-color 0.2s;
}

.custom-checkbox::after {
  content: '';
  position: absolute;
  display: none;
  left: 10px;
  top: 5px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

input[type='checkbox']:checked + .custom-checkbox::after {
  display: block;
}

input[type='checkbox']:checked ~ .custom-checkbox {
  background-color: #7e4556;
}

.custom-checkbox:hover {
  background-color: #d1d1d1;
}

::selection {
  background-color: var(--mainColorAlpha);
  color: var(--textColor);
}

